.player {
	position: absolute;
	width:80px;
}
.right {
	right:10px;
}

.left {
	left:10px;
}
.center{
	left: 200px;
}
.center-right {
	right:100px;
	
}
.center-left {
	left:100px;
}
.goalkeeper {
	bottom: 5px;
	left: 200px;
}
.defence {
	bottom: 100px;
}
.midfield {
	bottom: 250px;
}
.attack {
	bottom: 400px;
}
