<!DOCTYPE html>
<html ng-app="firstAngular">
	<head>
		<title> first angular</title>
		<script src="http://cdnjs.cloudflare.
		com/ajax/libs/angular.js/1.3.3/angular.min.js"
		></script>
	</head>

	<body>
		<div ng-controller="aaa">
			
			<p ng-model="theformat">
				I love :  {{theformat}}
			</p>
			<br />
			<select ng-model="theformat">
				<option>JS</option>
				<option>CSS</option>
				<option>hTML</option>
			</select>
			<p ng-model="theformat">{{theformat}} </p>
		</div>
		<script>
			var adielApp = angular.module("firstAngular", []);
			adielApp.controller("aaa", function($scope) {

				$scope.theformat = "java script";
			});
		</script>

	</body>

</html>